torch==2.8.0
pytorch-lightning==1.4.9
torchmetrics==0.5.1
numpy==1.20.2
pandas==1.2.4
h5py==2.10.0
nltk==3.9.4
transformers==4.11.3
beautifulsoup4==4.9.3
lxml
scikit-learn
progressbar2
pydash
torchtext
datasets
tensorboard
torch_optimizer